/* src/ButtonContainer.css */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;
    padding: 0 20px; 
  }
  .table_div {
    overflow-y: scroll;
    height: 400px;
}
  
  .button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .buttonA{
    background-color: #46139f;
    color: #fff;
  
  }
  .buttonB{
    background-color: #ff7f50;
    color: #fff;
  }

  .buttonC{
    background-color: #000;
  }
  .buttonA_section{padding-top: 100px;}
  .buttonC{
    background-color: #fff;
    border: 1px solid #46139f;
    color: #46139f;
  }
  a:hover{text-decoration: none;}